<head>
    <title>Crowd FUNDING</title>
</head>
<body>
		<h1 style="text-align: center;">Crowd Funding</h1>
	<form onsubmit="return lvalidateForm()" action="../controller/loginCh.php" method="post">
	<div style="background-color: cyan; text-align:center; width: 400px;height: 650px; margin: 2px auto; padding: 20px; border: 1px solid black; border-radius:5PX ;">
		<h1 style="text-align: center;">Login</h1>
		<input type="text" name="uname" placeholder="UserName/Phone Number/Email" required /><br>
		<input type="password" id="password" name="pass" placeholder="Password" required /><br>
		<br>
		<input type="submit" name="sbt" value="Login" /><br>
		</form>
		<div>
			I am not a memmber
			<a href="registration.html">Signup</a><br/>
		</div>
		<p style="color:red" id="message"></p>
	</div>

	<script src="myscript2.js">
           
    </script>
</body>



